.elementor-777 .elementor-element.elementor-element-072bd3a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-777 .elementor-element.elementor-element-072bd3a, .elementor-777 .elementor-element.elementor-element-072bd3a::before {
    --border-transition: 0.3s;
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input, .elementor-777 .elementor-element.elementor-element-1126159 .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-bar, .elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-from, .elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-to, .elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-single {
    background-color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-handle {
    border-color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-from:before, .elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-to:before, .elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-single:before {
    border-top-color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf_select__single-value {
    color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper {
    border-color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .input-range__track--active {
    background-color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: var( --e-global-color-secondary );
    border-color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input-file-upload-label, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-calculation-total {
    color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-secondary );
    fill: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf_multiselect__multi-value__label, .elementor-777 .elementor-element.elementor-element-1126159 .mf_multiselect__multi-value__remove,.elementor-777 .elementor-element.elementor-element-1126159 .mf_multiselect__menu-notice--no-options {
    color: var( --e-global-color-secondary );
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-file-upload-label, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-calculation-total, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-select > .mf_select__control, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-multiselect .mf_multiselect__control, .elementor-777 .elementor-element.elementor-element-1126159 .mf_multiselect__option {
    border-style: none;
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input, .elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-single, .elementor-777 .elementor-element.elementor-element-1126159 .asRange .asRange-pointer .asRange-tip, .elementor-777 .elementor-element.elementor-element-1126159 .mf-file-upload-container .mf-input-file-upload-label, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-calculation-total, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .input-range__label-container {
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
    line-height: var( --e-global-typography-text-line-height );
}

.elementor-777 .elementor-element.elementor-element-1126159 .input-range .input-range__track {
    border-radius: 10px;
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input {
    border-radius: 10px;
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-file-upload-container .mf-input-file-upload-label, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-calculation-total {
    border-radius: 10px;
}

.elementor-777 .elementor-element.elementor-element-1126159 .mf-input-select > .mf_select__control, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-multiselect .mf_multiselect__control, .elementor-777 .elementor-element.elementor-element-1126159 .mf_multiselect__option, .elementor-777 .elementor-element.elementor-element-1126159 .mf_multiselect__multi-value__label, .elementor-777 .elementor-element.elementor-element-1126159 .mf_multiselect__multi-value__remove, .elementor-777 .elementor-element.elementor-element-1126159 .mf_multiselect__menu-notice--no-options {
    border-radius: 10px;
}

.elementor-777 .elementor-element.elementor-element-1126159 :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text), .elementor-777 .elementor-element.elementor-element-1126159 .mf-input::placeholder, .elementor-777 .elementor-element.elementor-element-1126159 .mf-time-input::before {
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
    line-height: var( --e-global-typography-text-line-height );
}

.elementor-777 .elementor-element.elementor-element-1126159 > .elementor-widget-container {
    border-radius: 999px 999px 999px 999px;
}

.elementor-777 .elementor-element.elementor-element-131ce60 .mf-btn-wraper {
    text-align: center;
}

.elementor-777 .elementor-element.elementor-element-131ce60 .metform-btn {
    padding: 12px 85px 12px 085px;
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    text-transform: var( --e-global-typography-accent-text-transform );
    line-height: var( --e-global-typography-accent-line-height );
    color: var( --e-global-color-accent );
    background-color: var( --e-global-color-secondary );
    border-style: none;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
}

.elementor-777 .elementor-element.elementor-element-131ce60 .metform-btn:hover {
    color: var( --e-global-color-accent );
    background-color: var( --e-global-color-primary );
}

@media(max-width: 1024px) {
    .elementor-777 .elementor-element.elementor-element-1126159 .mf-input, .elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-single, .elementor-777 .elementor-element.elementor-element-1126159 .asRange .asRange-pointer .asRange-tip, .elementor-777 .elementor-element.elementor-element-1126159 .mf-file-upload-container .mf-input-file-upload-label, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-calculation-total, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .input-range__label-container {
        font-size:var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-777 .elementor-element.elementor-element-1126159 :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text), .elementor-777 .elementor-element.elementor-element-1126159 .mf-input::placeholder, .elementor-777 .elementor-element.elementor-element-1126159 .mf-time-input::before {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-777 .elementor-element.elementor-element-131ce60 .metform-btn {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }
}

@media(max-width: 767px) {
    .elementor-777 .elementor-element.elementor-element-1126159 .mf-input, .elementor-777 .elementor-element.elementor-element-1126159 .irs--round .irs-single, .elementor-777 .elementor-element.elementor-element-1126159 .asRange .asRange-pointer .asRange-tip, .elementor-777 .elementor-element.elementor-element-1126159 .mf-file-upload-container .mf-input-file-upload-label, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-calculation-total, .elementor-777 .elementor-element.elementor-element-1126159 .mf-input-wrapper .input-range__label-container {
        font-size:var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-777 .elementor-element.elementor-element-1126159 :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text), .elementor-777 .elementor-element.elementor-element-1126159 .mf-input::placeholder, .elementor-777 .elementor-element.elementor-element-1126159 .mf-time-input::before {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-777 .elementor-element.elementor-element-131ce60 .metform-btn {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }
}
